# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Production build
dist/
dist-ssr/

# Environment variables (IMPORTANT)
.env
.env.local
.env.*

# Editor directories
.vscode/
.idea/
.DS_Store